pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.json
*.calva
.clj-kondo/cache/2020.12.12/lock
.lsp/sqlite.5.db
